VITE_API_URL=http://localhost:3000
VITE_OPENPANEL_URL=https://api.monitor.blink-cars.com/track
VITE_OPENPANEL_CLIENT_KEY=4745a601-44c4-438a-8bbc-804353b0c62b
# OPENPANEL_SECRET_KEY= (Server-side only - DO NOT prefix with VITE_ or expose to frontend)
